/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    
  }
}

.desktoptable {
	margin:3%;
	border: thin solid lightgray;
	padding:3%;
}

h1 {
	text-align: center;
	color:white;
	font-weight: 800;
	font-size: 2.5em;
}

h2 {
	text-align: center;
	font-size:1.5em;
	color:white;
	font-weight: 400;
}

.is-ghost {
	display: block;
  margin-left: auto;
  margin-right: auto;
}